[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
llvmlite = "*"
numba = "*"
glfw = "*"
numpy = "*"
PyOpenGL = "*"
pyquaternion = "*"


[requires]
python_version = "3.7"
